/= javascript_include_tag 'actwitty/placeholder.js'
/= javascript_include_tag 'actwitty/jquery.placeholder.js'
/= javascript_include_tag 'actwitty/jquery-placeholder-0.1.js'
#confirmation-page-wrapper
  #confirmation-header
    =render :partial => "welcome/logo"
  
  #confirmation-page
    #confirmation-page-block
      #orgot-sign-connect-desc
        %h3#confirm-desc.desc Few more steps for confirmation
      #conf.conf_form
        = simple_form_for @profile,   :url => "/confirm_user" do |f|
          %label First Name
          = f.input :first_name,:label=>false, :placeholder => "First Name", :input_html => { :size=> 30 ,:class=>"confirmation-input" }

          %label Last Name
          = f.input :last_name,:label=>false, :placeholder => "Last Name",:input_html => { :size=> 30, :class=>"confirmation-input"  }

          %label Gender
          = f.input :sex, :label=> false, :collection => ['male','female','other'], :as => :select, :input_html => { :class=>"confirmation-input input-deco",:id=>"confirm-gender"}

          %label Date of Birth
          = f.input :dob, :label=> false, :placeholder => "Date of Birth", :as => :string, :input_html=>{:name => "dob_confirmation", :size => "20", :type => "text", :class=>"confirmation-input dob"}

          %label City
          = f.input :home_location, :label =>false, :placeholder => "City", :input_html => { :size => 30, :class=>"confirmation-input city" }
              
                 
          %input#user_key{:name => "confirmation_token", :type => "hidden", :value => "#{params[:confirmation_token]}"}/
          #site-connect-buttons
            %input#confirm-button.connect-buttons{:role => "button", :type => "submit", :value => "Get In"}/
          #tos_pos
            %p
              By Getting-In you agree to our
              %a{:href => "/terms_of_service.html"} Terms of service  
  
=render :partial => "welcome/footer"
