/= javascript_include_tag 'actwitty/placeholder.js'
/= javascript_include_tag 'actwitty/jquery.placeholder.js'
/= javascript_include_tag 'actwitty/jquery-placeholder-0.1.js'
#confirmation-page-wrapper
  #confirmation-header
    =render :partial => "welcome/logo"
  
  #confirmation-page
    #confirmation-page-block
      #orgot-sign-connect-desc
        %h3#confirm-desc.desc Few more steps for confirmation
      #confirmation-form
        = simple_form_for @profile, :validate => true,  :url => "/confirm_user" do |f|
          #confirmation-input
            %ul#confirmation-input-list
              %li.confirmation-fields
                %label.confirmation-labels First Name1
                = f.input :first_name,:label=>false, :placeholder => "First Name", :input_html => { :size=> 30 ,:class=>"confirmation-input input-deco" }

              %li.confirmation-fields
                %label.confirmation-labels Last Name1
                = f.input :last_name,:label=>false, :placeholder => "Last Name",:input_html => { :size=> 30, :class=>"confirmation-input input-deco"  }

              %li.confirmation-fields
                %label.confirmation-labels Gender
                = f.input :sex, :label=> false,:collection => ['male','female','other'], :as => :radio,:input_html=>{:class=>"confirmation-input input-deco",:id=>"confirm-gender-male"}

              %li.confirmation-fields
                %label.confirmation-labels Date of Birth
                = f.input :dob, :label=> false, :placeholder => "Date of Birth", :as => :string, :input_html=>{:name => "dob_confirmation", :size => "20", :type => "text", :class=>"confirmation-input input-deco dob"}

              %li.confirmation-fields
                %label.confirmation-labels City
                = f.input :home_location, :label =>false, :placeholder => "City", :input_html => { :size => 30, :class=>"confirmation-input input-deco" }
              
                 
          %input#user_key{:name => "confirmation_token", :type => "hidden", :value => "#{params[:confirmation_token]}"}/
          #site-connect-buttons
            %input#confirm-button.connect-buttons{:role => "button", :type => "submit", :value => "Get In"}/
          #tos_pos
            %p
              By Getting-In you agree to our
              %a{:href => "/terms_of_service.html"} Terms of service  
  
=render :partial => "welcome/footer"
