#aw_lpm_user_session
  = simple_form_for(:user,@user, :url => user_session_path, :remote => true, :html => { :id => "signin", :class=>"inputform" }) do |f|
    #aw_lpm_signin_email_label
      %span Email
    = f.input :email ,
              :placeholder => "Email",
              :label => false,
              :input_html => { :id => 'aw_lpm_signin_email_input'}
    #aw_lpm_signin_password_label
      %span Password
    = f.input :password ,
              :placeholder => "Password",
              :label => false,
              :input_html => { :id => 'aw_lpm_signin_password_input'}
    %input{:name => "user[key]", :type => "hidden", :value => "#{@key}"}/
    %input{:name => "user[provider]", :type => "hidden", :value => "#{@provider}"}/
    %input{:name => "user[uid]", :type => "hidden", :value => "#{@uid}"}/
    %input#signinbutton.actwittysignin.button_actwitty.blue.medium.hover_point{ :type => "button", :value => "Sign In !"}/
    %a#aw_lpm_signin_already_a_user{:href => "/users/password/new"} Click here to reset password.
    
