#page-wrapper
  #header
    #logo
      %img{:height => "120", :src => "/images/actwitty/Picture6.png", :width => "600"}/
  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc Send Unlock instructions
        %p
          Please enter any email address that we may have.
          We'll send you an email that will allow you to unlock your account.
      = simple_form_for(@user, :as => :user, :url => unlock_path(:user), :html => { :method => :post }) do |f|
        #data-input
          = f.input :email ,
                    :placeholder => "Email", 
                    :label => false, 
                    :class => 'inputbox', 
                    :input_html => { :size=> 30,:id=>"password-input",:class=>"input-deco"  }
        #forgot-site-connect-buttons
          = f.button :submit,
                     :value=>"Email Me",
                     :input_html => {:name=>"sign-in",:id=>"forgot-button",:class=>"connect-buttons"}
  #page-footer
    .footer-content
      #about-us.footer-header
        %a.footers{:href => "#"}
          %h4 About ActWitty
      #team-us.footer-header
        %a.footers{:href => "#"}
          %h4 Team
      #contact-us.footer-header
        %a.footers{:href => "#"}
          %h4 Contact Us
      #blog-us.footer-header
        %a.footers{:href => "#"}
          %h4 Blogs











/
  %h2 Send unlock instructions
  = simple_form_for(@user, :as => :user, :url => unlock_path(:user), :html => { :method => :post }) do |f|
    %p
      = f.input :email ,
                :placeholder => "Email", 
                :label => false, 
                :class => 'inputbox', 
                :hint => "Enter the email to confirm again.",
                :input_html => { :size=> 30  }
    %p= f.submit :value=>"Send Unlock instructions"

