%link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
#awppm_user_profile_settings_fields_box
  .awppm_busy_loading_box.aw_js_ppm_loading_animation
    .awppm_busy_mini_box
      %img.awppm_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
  =simple_form_for(:user, @user, :url => home_settings_save_path, :remote => true)  do |f|
    = f.fields_for :profile, @profile do |p|
      .awppm_user_profile_settings_field
        %label User Name
        = f.input :username ,
                  :label => false,
                  :placeholder => "User name",
                  :input_html => { :id=>'awppm_user_profile_settings_user_name'}
         
      #awppm_user_profile_settings_share_box.awppm_user_profile_settings_field
        %label Default Share
        = p.input :fb_default_share ,
                  :label => false,
                  :input_html => { :id=>'awppm_user_settings_share_fb_box'}
        %img#awppm_user_settings_share_fb_img{:src=>"/images/actwitty/refactor/aw_ppm/common/facebook.png"}
         
        = p.input :twt_default_share ,
                  :label => false,
                  :input_html => { :id=>'awppm_user_settings_share_tw_box'}
        %img#awppm_user_settings_share_tw_img{:src=>"/images/actwitty/refactor/aw_ppm/common/twitter.png"}  

      .awppm_user_profile_settings_field
        %label Name
        = f.input :full_name ,
                  :label => false,
                  :placeholder => "Name"
     
      .awppm_user_profile_settings_field
        %label Birthday
        = f.input :dob , 
                  :placeholder => "Date of Birth", 
                  :label => false,
                  :as => :string,
                  :input_html => { :id=>'awppm_user_settings_dob_input' , :value => @user.dob }
        = f.input :dob_str , 
                  :label => false,
                  :input_html => {:type => 'hidden', :id=>'settings_dob_str' }

                  
      .awppm_user_profile_settings_field
        %label Gender
        = f.input :gender , 
                  :placeholder => "Gender", 
                  :label => false,
                  :collection => ['male','female','other'], :as => :select, :include_blank => false,
                  :input_html => {:id=>'awppm_user_settings_gender' }


      .awppm_user_profile_settings_field
        %label Mobile
        = p.input :mobile_number ,
                  :label => false,
                  :placeholder => "Mobile Number"

      .awppm_user_profile_settings_field
        %label Location
        = f.input :current_location , 
                  :placeholder => "Location", 
                  :label => false,
                  :input_html => { :id=>'aw_spm_user_setting_location_input' ,:value => @user.current_location  }
        = f.input :current_geo_lat , 
                  :label => false,
                  :input_html => { :id=>'aw_spm_user_setting_location_lat_input', :type => 'hidden' }
    
        = f.input :current_geo_long , 
                  :label => false,
                  :input_html => { :id=>'aw_spm_user_setting_location_long_input', :type => 'hidden'}
    #aw_spm_map_selector 

    

    = f.submit "Save Changes", :type => "submit", :class=>"button_actwitty blue awppm_user_profile_settings_save_btn " ,:id=>"awppm_user_profile_settings_save" 
    
    

       
:javascript
  aw_api_spm_initialize_user_settings_page() 


