#p-st-fltr-box
  .p-st-filter-sect
    %ul.p-st-filter
      %li.p-st-flt-label
        %p show containing:
        %span set filters to view specific stream for channels, mentions and/or locations
      %li.p-st-filter-box
        #channel_filter_drop.del-fltr
        .p-flt-actor.p-st-flt-default
          .p-flt-holder#fltr_channel_id
            %span
              all channels
            %span.full_name
      %li.p-st-filter-box
        #thing_filter_drop.del-fltr
        .p-flt-actor.p-st-flt-default
          .p-flt-holder#fltr_entity_id
            %span
              all mentions
            %span.full_name
              all mentions
      %li.p-st-filter-box
        #location_filter_drop.del-fltr
        .p-flt-actor.p-st-flt-default
          .p-flt-holder#fltr_location_id
            %span
              all locations
            %span.full_name
#streams_tab.p-cstab_content
  #js_streams_list
    #streams_list_parent
      #streams_list.p-awp-post-stream
    %a#more_streams.more_loader{:href => "#"} More
    %input#more_streams_cookie{:type => "hidden", :value => ""}
  #js_drafts_list
    #streams_drafts_list_parent
      #streams_drafts_list.p-awp-post-stream
    %a#more_streams_drafts.more_loader{:href => "#"} More
    %input#more_streams_drafts_cookie{:type => "hidden", :value => ""}
  #js_images_list
    #streams_images_list_parent
      #streams_images_list.p-awp-post-stream
    %a#more_streams_images.more_loader{:href => "#"} More
    %input#more_streams_images_cookie{:type => "hidden", :value => ""}
  #js_videos_list
    #streams_videos_list_parent
      #streams_videos_list.p-awp-post-stream
    %a#more_streams_videos.more_loader{:href => "#"} More
    %input#more_streams_videos_cookie{:type => "hidden", :value => ""}
     

/Filter
%input#filter_location_id{:name => "filter_location_id", :type => "hidden", :value => "#{@filter_location_id}" }
%input#filter_thing_id{:name => "filter_thing_id", :type => "hidden", :value => "#{@filter_entity_id}" }
%input#filter_channel_id{:name => "filter_channel_id", :type => "hidden", :value => "#{@filter_channel_id}" }

%input#filter_location_name{:name => "filter_location_name", :type => "hidden", :value => "#{@filter_location_name}" }
%input#filter_thing_name{:name => "filter_thing_name", :type => "hidden", :value => "#{@filter_entity_name}" }
%input#filter_channel_name{:name => "filter_channel_name", :type => "hidden", :value => "#{@filter_channel_name}" }
