.p-r-content
  .p-r-fltr-st
    -if user_signed_in?
      -if current_user.id == @user.id
        .p-r-fltr-st-by
          #stream_me.p-r-fltr-me.js_me
          #stream_others.p-r-fltr-others.js_others
      -else
        .p-r-userinfo
          %a{:href => "/home/show?id=#{@user.id}"}
            %img#profile_header_user_img{:src => "#{@user.photo_small_url}"}
              %span #{@user.full_name}
          #follow
            -if !@follow
              %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Follow"}  
            - else
              %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Un-Follow"}
            %input#follow_unfollow_btn_user_id{:type => "hidden",  :value => "#{@user.id}"}
    -else
      .p-r-userinfo
        %a{:href => "/home/show?id=#{@user.id}"}
          %img#profile_header_user_img{:src => "#{@user.photo_small_url}"}
            %span #{@user.full_name}
    .p-r-search-fltr
      .p-r-search-fltr-bar
        %span Search Filters
      .p-r-fltr-by
        %span.JS_AW_MODAL_all_channels.js_modal_dialog_link Filter by Channels >
        =render :partial => "home/modal"
      .p-r-fltr-by
        %span.JS_AW_MODAL_all_locations.js_modal_dialog_link Filter by Locations >
        =render :partial => "home/modal"
      .p-r-fltr-by
        %span.JS_AW_MODAL_all_entities.js_modal_dialog_link Filter by Entities >
        =render :partial => "home/modal"

        
