#awppm_header_box
  
  %img.awppm_profile_logo{:src => "/images/actwitty/refactor/aw_ppm/common/aw_ppm_logo_small_topbar.png"}
  #awppm_header_user_bar
    -if user_signed_in? && !if_ghost_user?
      %a#awppm_header_user_info{:href => "/home/sketch?id=#{@current_user.id}"} 
        %img{:src =>"#{@current_user.photo_small_url}", :width=>"30", :height=>"30"}
        %span #{@current_user.full_name}
      %a#awppm_header_user_logout{:href => "/users/sign_out"} Logout
      %a#awppm_header_user_settings{:href => "/home/settings"} Settings
    -elsif if_ghost_user?
      %a#awppm_header_user_info{:href => "/"}
        %img{:src => "/images/actwitty/refactor/aw_ppm/common/User.png"}
      %a#awppm_header_user_logout{:href => "/welcome/new"} Log-in
  #awppm_header_search_edit_box
    %input#aw_js_ppm_header_search_text{:placeholder => "Search", :type => "text"}
  #aw_js_ppm_search_box.awppm_header_search_box


.topbar-wrapper
  #topbar-example.topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %h3
          %a{:href => "#"} Actwitty 

        
        %ul.nav.secondary-nav
          %li
            %form{:action => ""}
              %input#aw_js_ppm_header_search_text{:placeholder => "Search", :type => "text"}
          -if user_signed_in? && !if_ghost_user?
            %li
              %a{:href => "/home/sketch?id=#{@current_user.id}"} 
                %img{:src =>"#{@current_user.photo_small_url}",  :style=> "margin-top: -3px", :width=>"25", :height=>"25"}
            %li.menu
              %a.menu{:href => "/home/sketch?id=#{@current_user.id}"} #{@current_user.full_name}
              %ul.menu-dropdown
                %li
                  %a{:href => "/home/settings"} Settings
                %li
                  %a{:href => "/users/sign_out"} Logout
          -else
            %li
              %a{:href => "/welcome/new"} Log-in
  
