.wrapper.col1
  #header
    #header-proxy
      #top-bar
        #logo
          %a{:href => "http://www.actwitty.com"}
            %img{:height => "50", :src => "/images/alpha/actwitty.png", :width => "120"}
        #searchwrapper
          %form{:action => ""}
            %input#username_search.searchbox{:placeholder => "Search People.....", :name=>"s",:type => "text"}
        #home_page_nav
          #home_page_settings
            %a#p-topbar-home{:href => "/home/show?id=#{@current_user.id}"}
            %a#p-topbar-settings.button
            .options-menu
              %ul
                %li
                  %a{:href => "/home/settings"} settings
                %li
                  %a{:href => "/help/show"} help center
                %li
                  %a{:href => "/users/sign_out"} logout
            -if user_signed_in?
              #top_bar_user_image
                %a{:href => "/home/show?id=#{@current_user.id}"}
                  %img#profile_header_user_img{:src => "#{@current_user.photo_small_url}"}/
            
              
            
/
  .wrapper.col1
    #header
      #top-bar
        #logo
          %a{:href => "http://www.actwitty.com"}
            %img{:height => "50", :src => "/images/alpha/actwitty.png", :width => "120"}
        #searchwrapper
          %form{:action => ""}
            %input#username_search.searchbox{:name => "s", :placedholder => "Search", :type => "text"}
        #home_page_nav
          #settings
            %a#p-topbar-home{:href => "/home/show?id=#{@current_user.id}"}
            -if user_signed_in?
              %a.button{:href => "/home/show?id=#{@current_user.id}"}
                %img#profile_header_user_img{:src => "#{@current_user.photo_small_url}"}/
              .options-menu
                %ul
                  %li
                    %a{:href => "/home/settings"} settings
                  %li
                    %a{:href => "/help/show"} help center
                  %li
                    %a{:href => "/users/sign_out"} logout
      %br.clear/
    
  
