= javascript_include_tag 'actwitty/profile_facebook.js'
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
%script{:src => "/javascripts/actwitty/profile_fb.js", :type => "text/javascript"}
= include_javascripts :profile 
= javascript_include_tag 'actwitty/home_page_inputs'




=render :partial => "home/top_bar"
-if user_signed_in?
  -if current_user.id == @user.id
    #js_input_box
      =render :partial => "home/input_box" 




.wrapper.col3
  #p-ch-st-tab-sect
    #p-ch-st-tab
      #p-ch-st-tab-proxy1
        %ul.p-cstab1
          %li#invite_tab_head
            %a{:href => "#invite_tab"} Invite
          %li#follow_tab_head
            %a{:href => "#follow_tab"} Follow
          %li#unfollow_tab_head
            %a{:href => "#unfollow_tab"} UnFollow 
          #invite_tab
            #invite_friends
          #follow_tab
            #follow_friends
          #unfollow_tab
            #unfollow_friends
     
      
 
/Secret cookies
%input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
  -if user_signed_in?
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
  - else
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }    
  %input#default_page_mode{:name => "default_page_mode", :type => "hidden", :value => "#{@defaul_page_mode}" }

  /Filter
  %input#filter_location_id{:name => "filter_location_id", :type => "hidden", :value => "#{@filter_location_id}" }
  %input#filter_location_name{:name => "filter_location_name", :type => "hidden", :value => "#{@filter_location_name}" }
  %input#filter_thing_id{:name => "filter_thing_id", :type => "hidden", :value => "#{@filter_thing_id}" }
  %input#filter_thing_name{:name => "filter_thing_name", :type => "hidden", :value => "#{@filter_thing_name}" }
  %input#filter_channel_id{:name => "filter_channel_id", :type => "hidden", :value => "#{@filter_channel_id}" }
  %input#filter_channel_name{:name => "filter_channel_name", :type => "hidden", :value => "#{@filter_channel_name}" }



/=render :partial => "welcome/footer"




   



