#page-wrapper
  #header
    =render :partial => "home/top_bar"
    /=render :partial => "welcome/logo"
    
  #settings-page
    /#settings-sign-connect-desc
    /%h3#settings-header Settings

  #settings-page-block
    /%h3#settings-header Settings Page
    #stylized.myform
      = simple_form_for @profile,:html => {:multipart => true}, :file_field => {:multiple => true}, :validate => true, :url => home_settings_save_path do |f|

        %label First Name
        = f.input :first_name,:label=>false, :placeholder => "First Name", :input_html => { :size=> 30  }

        %label Last Name
        = f.input :last_name,:label=>false, :placeholder => "Last Name",:input_html => { :size=> 30  }

        %label Gender
        = f.input :sex, :label=> false, :collection => ['male','female','other'], :as => :select, :input_html => { }

        %label Date of Birth
        = f.input :dob, :label=> false, :placeholder => "Date of Birth", :as => :string, :input_html=>{ :size => "20", :type => "text", :class=>"settings-input",:id=>"settings_dob"}

        %label City
        = f.input :home_location, :label =>false, :placeholder => "City", :input_html => { :size => 20, :class=>"settings-input" ,:id=>"settings_city" }

        %label Mobile Number
        = f.input :mobile_number, :label =>false, :placeholder => "Mobile Number", :input_html => { :size => 20, :class=>"settings-input" ,:id=>"settings_number" }
        

        %label Email
        = f.input :email, :label =>false, :placeholder => "Email", :input_html => { :size => 20, :class=>"settings-input",:id=>"settings_email" }

        %label Company Name
        = f.input :company_name, :label =>false, :placeholder => "Company Name", :input_html => { :size => 30, :class=>"settings-input",:id=>"settings_company" }

        %label Address
        = f.text_area :address, :cols=> 30 ,:rows => 5, :label =>false, :class=>"settings-textarea", :placeholder => "Address", :input_html => { :size => 30, :id=>"settings_address" }
        

        %label Website
        = f.input :home_page, :label =>false, :placeholder => "http://", :input_html => { :size => 30, :class=>"settings-input",:id=>"settings_website" }

        %label Interest
        = f.input :interest, :label =>false, :placeholder => "Interest", :input_html => { :size => 30, :class=>"settings-input ",:id=>"settings_interest" }

        %label Photo
        /%img#user_settings_image{:alt => "", :src => "#{@profile.profile_photo_l}", :width => "100"}/
        = f.input :profile_photo_l,:label=>false, :input_html => { :size => 10, :class=>"input-hidden"}
        = f.input :profile_photo_s,:label=>false, :input_html => { :size => 10, :class=>"input-hidden"}
        =render :partial => "home/profile_pic_attachments.html.haml"

        %p= f.submit "Save", :type => "submit", :id=>"settings-button" 
        /,:id=>"settings-button"

  /=render :partial => "welcome/footer"




  /  =render :partial => "welcome/footer"

