.awppm_user_profile_settings_wrapper.awppm_user_profile_settings_column1
  =render :partial => "home/top_bar"
.awppm_user_profile_settings_wrapper.awppm_user_profile_settings_column2
  
  #awppm_user_profile_settings_box
    %h3 Settings
    %input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" }
    #awppm_user_profile_settings_content
      #awppm_user_profile_settings_menu_box
        =render :partial => "home/profile_pic_attachments.html.haml"        
        #awppm_user_profile_settings_profile_pic
          %img#awppm_js_user_img_settings.awppm_user_profile_setting_img{ :src => "#{@user.photo_small_url}"}
        %input#awppm_user_profile_change_profile_pic.button_actwitty.blue.awppm_user_profile_settings_menu_btn{:type => "button", :value => "Change Profile Pic"}
          =simple_form_for( @user, :as=>:user,:url => home_change_profile_pic_path, :remote => true , :html => { :method => :put })  do |f|
            = f.input :photo_small_url , 
                  :label => false,
                  :input_html => {:type => 'hidden', :id=>'awppm_js_user_profile_settings_profile_pic_url' } 
            
            = f.submit "Submit", :type => "submit",:class=>"awppm_user_profile_chng_pic_submit", :id=>"awppm_user_profile_change_profile_pic_submit"  
        
        =render :partial => "home/password_settings"
        %a{:href => "/home/deactivate"}
          %h5#js_awppm_user_deactivate.awppm_user_profile_deactivate Deactivate Your ActWitty Account
      #aw_spm_user_settings_box.js_user_settings_partial
        =render :partial => "home/profile_settings"            


%input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
%input#page_owner_photo{:name => "user_photo_for_this_page", :type => "hidden", :value => "#{@user.photo_small_url}" }
%input#page_owner_name{:name => "user_name_for_this_page", :type => "hidden", :value => "#{@user.full_name}" }
%input#cache_cookie_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.updated_at}" }
%input#page_mode{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@page_mode}" }
- if user_signed_in?
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
- else
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }   

:javascript
  awppm_settings_page_elem_init()
       
    


