%h2 Profile page
#signoutdiv.right
  %a{:href => "/users/sign_out"} Sign Out

%hr

%TopDiv
  %UserImg
    %img{:alt => "", :src=>"#{current_user.profile.profile_photo_s}"}
  %UserName
    %label
      %b="#{current_user.profile.first_name} #{current_user.profile.last_name}"
%hr
- if current_user.authentications
  - unless current_user.authentications.empty?
    %p
      %strong You can sign in to this account using:
    .authentications
      - for authentication in current_user.authentications
        .authentication
          = image_tag "/images/authentications/#{authentication.provider}_64.png", :size => "64x64"
          .provider= authentication.provider.titleize
          .uid= authentication.uid
          = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
      .clear
  - else
    %p
      %strong No authentication enabled so far.


%hr
%h3 Friends Friends list
=render :partial => '/contacts/friends', :locals => { :friends =>@friends }
%h3 Pending Friends list
=render :partial => '/contacts/pending', :locals => { :friends =>@pending_friends }

%hr
%strong Available direct sign in options:
%p
  %a.auth_provider{:href => "/users/auth/twitter"}
    = image_tag "/images/authentications/twitter_64.png", :size => "64x64", :alt => "Twitter"
    Twitter
  %a.auth_provider{:href => "/users/auth/facebook"}
    = image_tag "/images/authentications/facebook_64.png", :size => "64x64", :alt => "Facebook"
    Facebook
  %a.auth_provider{:href => "/users/auth/google_apps"}
    = image_tag "/images/authentications/google_64.png", :size => "64x64", :alt => "Google"
    Google
  %a.auth_provider{:href => "/users/auth/open_id"}
    = image_tag "/images/authentications/openid_64.png", :size => "64x64", :alt => "OpenID"
    OpenId 



