.awppm_chn_channel_wrapper.awppm_chn_channel_column1
  =render :partial => "home/top_bar"

.awppm_chn_channel_wrapper.awppm_chn_channel_column2
  #awppm_chn_user_box
    #awppm_chn_user_section
      #awppm_chn_user_info
        #awppm_chn_user_img
          %a{:href => "/home/show?id=#{@user.id}"}
            %img{:src => @user.photo_small_url}/
        #awppm_chn_user_name    
          %a{:href => "/home/show?id=#{@user.id}"}
            %span #{@user.full_name}
        #awppm_chn_user_location   
          %span #{@user.current_location} 
      #awppm_chn_input_box_wrapper
        -if user_signed_in?
          -if current_user.id == @user.id
            =render :partial => "home/input_box" 
        
.awppm_chn_channel_wrapper.awppm_chn_channel_column3
  #awppm_chn_data_wrapper
    #awppm_chn_data_box
      #aw_js_ppm_user_channel_data.awppm_chn_data_section.awppm_chn_userchannel_data
        .awppm_chn_data_section_label
          -if user_signed_in?
            -if current_user.id == @user.id
              %span How am I showing myself on Internet 
            -else 
              %span #{@user.full_name}'s impression on Internet
        -if user_signed_in?
          -if current_user.id == @user.id
            .awppm_chn_data_section_info_header
              %span ActWitty understands your interest channels by processing your Facebook data. You can see posts in each channels by clicking them.
          -else
            .awppm_chn_data_section_info_header
              %span Interest channels created based on Facebook data. You can see posts in each channels by clicking them.      
                
            
        .awppm_chn_data_section_stream_link_box_wrapper
          .awppm_chn_data_section_stream_link_box
            .aw_ppm_stream_link_info_hover_box Stream view for posts by #{@user.full_name}
            %a{:href => "/home/streams?id=#{@user.id}&s=p"}
              .awppm_chn_data_section_stream_link_img_box
          -if user_signed_in?
            -if current_user.id == @user.id    
              .awppm_chn_data_section_stream_link_box
                .aw_ppm_stream_link_info_hover_box Settings for channels by #{@user.full_name}
                %a{:href => "/channel_settings/edit"}
                  .awppm_chn_data_section_chn_setting_img_box
                
        .awppm_chn_busy_channels_box.aw_js_ppm_loading_animation
          .awppm_chn_busy_mini_box
            %img.awppm_chn_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
        %input#aw_js_ppm_user_chn_data_more.button_actwitty.blue.awppm_chn_data_info_more{:type => "button", :value => "More"}
        #aw_js_ppm_user_chn_container.awppm_chn_data_channels_box

      -if user_signed_in?
        -if current_user.id == @user.id
          #aw_js_ppm_subscribed_channel_data.awppm_chn_data_section
            .awppm_chn_data_section_label
              %span I found these worth subscribing 
            .awppm_chn_data_section_info_header
              %span Subscribed set of interest channels of other users on ActWitty. You can see posts in each channels by clicking them.
            .awppm_chn_data_section_stream_link_box_wrapper
              .awppm_chn_data_section_stream_link_box
                .aw_ppm_stream_link_info_hover_box Stream view for subscriptions of #{@user.full_name}
                %a{:href => "/home/streams?id=#{@user.id}&s=s"}
                  .awppm_chn_data_section_stream_link_img_box
            .awppm_chn_busy_channels_box.aw_js_ppm_loading_animation
              .awppm_chn_busy_mini_box
                %img.awppm_chn_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
            %input#aw_js_ppm_subscribed_chn_data_more.button_actwitty.blue.awppm_chn_data_info_more{:type => "button", :value => "More"}
            #aw_js_ppm_subscribed_chn_container.awppm_chn_data_channels_box


        

      #aw_js_ppm_user_mentions_channel_data.awppm_chn_data_section
        .awppm_chn_data_section_label
          -if user_signed_in?
            -if current_user.id == @user.id
              %span My recent mentions in posts I made
            -else 
              %span #{@user.full_name}'s mentioned these recently in posts
        .awppm_chn_data_section_info_header
          %span These are the terms lately used in text in Facebook, ActWitty check ins. You can see post(s) for each mention by clicking them.               
        .awppm_chn_busy_channels_box.aw_js_ppm_loading_animation
          .awppm_chn_busy_mini_box
            %img.awppm_chn_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
        %input#aw_js_ppm_mentions_data_more.button_actwitty.blue.awppm_chn_data_info_more{:type => "button", :value => "More"}
        #aw_js_ppm_user_mention_container.awppm_chn_data_channels_box

      #aw_js_ppm_user_location_channel_data.awppm_chn_data_section
        .awppm_chn_data_section_label
          -if user_signed_in?
            -if current_user.id == @user.id
              %span Recently I have been active at these places 
            -else 
              %span #{@user.full_name}'s recent activity places
        .awppm_chn_data_section_info_header
          %span These are the locations recently used for check in at Facebook, ActWitty check ins. You can see post(s) for each location by clicking them.               
        .awppm_chn_busy_channels_box.aw_js_ppm_loading_animation
          .awppm_chn_busy_mini_box
            %img.awppm_chn_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
        %input#aw_js_ppm_locations_data_more.button_actwitty.blue.awppm_chn_data_info_more{:type => "button", :value => "More"}        
        #aw_js_ppm_user_location_container.awppm_chn_data_channels_box

      -if user_signed_in?
        -if current_user.id == @user.id
          #aw_js_ppm_all_channel_data.awppm_chn_data_section
            .awppm_chn_data_section_label
              %span What more can I subscribe at ActWitty 
            .awppm_chn_data_section_info_header
              %span You can choose subscribe to them to see them in subscriptions. Click channels to see posts in each of them.               
            .awppm_chn_data_section_stream_link_box_wrapper
              .awppm_chn_data_section_stream_link_box
                .aw_ppm_stream_link_info_hover_box Stream view for all channels
                %a{:href => "/home/streams?id=#{@user.id}&s=a"}
                  .awppm_chn_data_section_stream_link_img_box
            .awppm_chn_busy_channels_box.aw_js_ppm_loading_animation
              .awppm_chn_busy_mini_box
                %img.awppm_chn_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
            %input#aw_js_ppm_all_chn_data_more.button_actwitty.blue.awppm_chn_data_info_more{:type => "button", :value => "More"}
            #aw_js_ppm_all_chn_container.awppm_chn_data_channels_box


/.awppm_stm_wrapper.awppm_stm_column4
/  =render :partial => "home/footer_bar"

/Secret cookies
%input#aw_js_ppm_fb_access_token{:type => "hidden", :value => "#{@fb_access_token}" }
%input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
%input#page_owner_photo{:name => "user_photo_for_this_page", :type => "hidden", :value => "#{@user.photo_small_url}" }
%input#page_owner_name{:name => "user_name_for_this_page", :type => "hidden", :value => "#{@user.full_name}" }
%input#cache_cookie_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.updated_at}" }
%input#page_mode{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@page_mode}" }
- if user_signed_in?
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
- else
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }   




/.wrapper.col6
/    #home_page_footer
