/ Java scripts includes

/= javascript_include_tag 'actwitty/activity'
%script{:src => "http://maps.google.com/maps/api/js?sensor=true&libraries=places", :type => "text/javascript"}
= javascript_include_tag 'actwitty/input_location'
= javascript_include_tag 'actwitty/home_page_inputs'



/ *******************************************************
/  	$( "#sub_filter_tabs" ).tabs({ collapsible: true, cache: true });

/ Here we go with main page

=render :partial => "home/top_bar" 
#page-wrapper
  / Welcome page header
 
    
  / *********************************************************

  / Top side info for snap and name under it

  .home_page_row2
    .home_page_photo
      %p
        %img{:alt => "", :src=>"#{@user.photo_small_url}"}
      %p
        %label.main_title #{@user.full_name}
    / Home page main activity generator input boxes
    #home_page_input.input_box
      %label #
      %input#activity_field.channel_input_box{:name => "home_page_activity", 
                               :type => "text",
                               :placeholder => "Channel", 
                               :size=>"40"}
      %label @
      %input#location_field.place_input_box{:name => "home_page_location", 
                                             :type => "text",
                                             :placeholder => "Place",
                                             :size=>"40"}
      %textarea{:name => "home_page_entity", 
                :type => "text",
                :placeholder => "Whats the story?", 
                :style=>"resize: none;", 
                :cols=>"80", 
                :rows=>"5",
                :maxlength=>"500",
                :id=>"entity_field"}
      
      %br/
      =render :partial => "home/upload_attachments" 
      %input{:name => "campaign1", :type => "checkbox", :value => "Like"} Like
      %input{:checked => "", :name => "campaign2", :type => "checkbox", :value => "Support"} Support
      %input{:name => "campaign3", :type => "checkbox", :value => "Rate"} Rate
      %input#actwitty_generator{:type => "button", :value => "Go!"}
      %input#user_latlng{:name => "latlang", :type => "hidden"}

      %input#geo_location{:size => "50", :type => "hidden", :value => ""}
      %input#location_type{:name => "location_type", :type => "hidden", :value => ""}
      %input#input_latlang{:name => "input_latlang", :type => "hidden", :value => ""}
      %input#lat_value{:name => "input_latlang", :type => "hidden", :value => ""}
      %input#lng_value{:name => "input_latlang", :type => "hidden", :value => ""}

    

      #map
  / *************************************************
  %hr
  
  .home_page_filter_row
    %ul.aw_sub_header_nav
      -if user_signed_in?  && current_user.id == @user.id
        %li.aw_sub_header_nav_l
          %a#all_followers{:href => "#"} Followers #{current_user.followers_count()}
        %li.aw_sub_header_nav_l
          %a#all_followings{:href => "#"} Followings #{current_user.followings_count()}
        %li.aw_sub_header_nav_l
          %a#all_facebookers{:href => "#"} Facebook People
      %li.aw_sub_header_nav_r
        %a#all_channels{:href => "#"} Channels
      %li.aw_sub_header_nav_r
        %a#all_things{:href => "#"} Things
      %li.aw_sub_header_nav_r
        %a#all_locations{:href => "#"} Locations


  #sub_filter_tabs
    %ul.tabs
      %li#channels_tab_head
        %a{:href => "#channels_tab"} Channels
      %li#streams_tab_head
        %a{:href => "#streams_tab"} Streams
    .tab_container
      #channels_tab.tab_content
        %ul#channels.summary_list
        %a#more_channels.more_loader{:href => "#"} More
        %input#more_channels_cookie{:type => "hidden", :value => ""}
      #streams_tab.tab_content
        #stream_filters
        %div#streams_side_bar.streams_side_bars_box
          %div#stream_friends_box.stream_related_friends_box
          %div#stream_entities_box.stream_related_entities_box
          %div#stream_locations_box.stream_related_locations_box
          %div#stream_channels_box.stream_related_channels_box
        %div#streams_listing_div.stream_list_box
          %ul#streams.stream_list
        %a#more_streams.more_loader{:href => "#"} More
        %input#more_streams_cookie{:type => "hidden", :value => ""}

  #channel-dialog-modal
  #location-dialog-modal
  #thing-dialog-modal
  #follower-dialog-modal
  #following-dialog-modal
  #facebook-dialog-modal
  
  /Secret cookies
  %input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
  -if user_signed_in?
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
  - else
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }    
  %input#default_page_mode{:name => "default_page_mode", :type => "hidden", :value => "#{@filtered_mode}" }

  /Filter
  %input#filter_location_id{:name => "filter_location_id", :type => "hidden", :value => "#{@filter_location_id}" }
  %input#filter_location_name{:name => "filter_location_name", :type => "hidden", :value => "#{@filter_location_name}" }
  %input#filter_thing_id{:name => "filter_thing_id", :type => "hidden", :value => "#{@filter_entity_id}" }
  %input#filter_thing_name{:name => "filter_thing_name", :type => "hidden", :value => "#{@filter_entity_name}" }
  %input#filter_channel_id{:name => "filter_channel_id", :type => "hidden", :value => "#{@filter_channel_id}" }
  %input#filter_channel_name{:name => "filter_channel_name", :type => "hidden", :value => "#{@filter_channel_name}" }

