= javascript_include_tag 'actwitty/contacts'
= javascript_include_tag 'plugins/jquery-autocomplete/lib/jquery.bgiframe.min.js'
= javascript_include_tag 'plugins/jquery-autocomplete/lib/jquery.ajaxQueue.js'
= javascript_include_tag 'plugins/jquery-autocomplete/lib/thickbox-compressed.js'
= javascript_include_tag 'plugins/jquery-autocomplete/jquery.autocomplete.js'
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?


%script{:src => "http://maps.google.com/maps/api/js?sensor=true&libraries=places", :type => "text/javascript"}
= javascript_include_tag 'actwitty/home_page_inputs'



#home_page_wrapper
  .home_page_header

  .home_page_signout
    %a{:href => "/users/sign_out"} 
      %img.img_sign_out{:alt => "", :src=>"/images/actwitty/signout.png"}
  %textarea#searchall.home_page_people_search{:placeholder => "Search People"}
  %a.auth_provider{:href => "/users/auth/twitter"}
    %img.img_provider{ :src=>"/images/authentications/twitter_64.png", :alt => "Twitter"}
  %a.auth_provider{:href => "/users/auth/facebook"}
    %img.img_provider{ :src=>"/images/authentications/facebook_64.png", :alt => "Twitter"}
    

  .home_page_info
    .home_page_photo
      %img{:alt => "", :src=>"#{current_user.photo_small_url}"}
      %label.main_title #{current_user.full_name}
   
    #home_page_input
      %fieldset
        %legend Input Box
        %input{:name => "home_page_activity", :type => "text"}
          %input{:name => "home_page_entity", :type => "text"}
            %input#searchTextField{:name => "home_page_location", :type => "text"}
              %input#searchTextField1{:size => "50", :type => "hidden"}
                %input#submits{:type => "button", :value => "done"}
                  %input#user_latlng{:name => "latlang", :type => "hidden"}/
        #map
  %hr/
  .home_page_filters
    .home_page_activities.filters
      %h4.sidebar_titles Activities
      %ul.filter_list
        %li.filter_list_elem
          %a{:href => "#"} eating
        %li.filter_list_elem
          %a{:href => "#"} playing
        %li.filter_list_elem
          %a{:href => "#"} watching
        %li.filter_list_elem
          %a{:href => "#"} sleeping

    .home_page_entities.filters
      %h4.sidebar_titles Entities
      %ul.filter_list
        %li.filter_list_elem
          %a{:href => "#"} eating
        %li.filter_list_elem
          %a{:href => "#"} playing
        %li.filter_list_elem
          %a{:href => "#"} watching
        %li.filter_list_elem
          %a{:href => "#"} sleeping

    .home_page_friends.filters
      %h4.sidebar_titles#friends_side_title Friends
      %textarea#searchfriends
      %ul#friends_list.filter_list.sidebar_lists

    .home_page_pending_friends.filters
      %h4.sidebar_titles#pending_side_title Pending Friends
      %ul#pending_request_list.filter_list.sidebar_lists
  %hr/
    
    



