=render :partial => "home/top_bar"
-if user_signed_in?
  -if current_user.id == @user.id
    #js_input_box
      =render :partial => "home/input_box" 




.wrapper.col3
  #p-ch-st-tab-sect
    #p-ch-st-tab
      #p-ch-st-tab-proxy
        %ul.p-cstab
          %li#channels_tab_head.p-ch-tab
            %a{:href => "#timeline-streams"} CHANNELS
          %li#streams_tab_head.p-st-tab
            %a{:href => "#timeline-streams"} STREAMS
/
  .wrapper.col3
    #p-ch-st-tab-sect
      #p-ch-st-tab
        %ul.p-cstab
          %li#channels_tab_head.p-ch-tab
            %a.actwitty-fontify{:href => "#channels_tab"} CHANNELS
          %li#streams_tab_head.p-st-tab
            %a{:href => "#streams_tab"} STREAMS
          
          

.wrapper.col4
  #p-content-sect
    %ul
      / #### Start of Left Side Filters ####
      %li.p-con-l-fltr
        #streams_left_side_bar
          =render :partial => "home/stream_left_side"
      / #### Start of Main Content Bar  ####
      %li.p-content
        /#channels_main_bar
        /  =render :partial => "home/channel_main_content"
        #streams_main_bar
          =render :partial => "home/stream_main_content"
      / #### Start of Right filter Bar  ####
      %li.p-con-r-fltr.right-filters
        #streams_right_side_bar
          =render :partial => "home/stream_right_side"
  #p-channelp-sect
    #p-content-sect
      / #### channel page tabs section ####
      -if user_signed_in?
        -if current_user.id == @user.id
          #p-channelp-tabs-section
            #p-channelp-tab-all.p-channelp-tab.p-channelp-unselected.js_channel_scope
              %span All Channels
            #p-channelp-tab-subscribed.p-channelp-tab.p-channelp-unselected.js_channel_scope
              %span Subscribed Channels
            #p-channelp-tab-mine.p-channelp-tab.p-channelp-unselected.js_channel_scope
              %span My Channels
      / #### channel page content section ####
      #p-channelp-content
        =render :partial => "home/channelp_posts"
        =render :partial => "home/channelp_author_section"

/Secret cookies
%input#default_page_mode{:name => "default_page_mode", :type => "hidden", :value => "#{@filtered_mode}" }
%input#stream_page_mode{:name => "default_page_mode", :type => "hidden", :value => "#{@stream_mode}" }
%input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
%input#page_owner_photo{:name => "user_photo_for_this_page", :type => "hidden", :value => "#{@user.photo_small_url}" }
%input#page_owner_name{:name => "user_name_for_this_page", :type => "hidden", :value => "#{@user.full_name}" }
%input#cache_cookie_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.updated_at}" }
%input#page_mode{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@page_mode}" }
%input#hidden_draft_post_id
- if user_signed_in?
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
- else
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }    



