/ Java scripts includes
= include_javascripts :profile 
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
%script{:src => "http://maps.google.com/maps/api/js?sensor=true&libraries=places", :type => "text/javascript"}
= javascript_include_tag 'actwitty/home_page_inputs'
    
/ *******************************************************
/  	$( "#sub_filter_tabs" ).tabs({ collapsible: true, cache: true });

/ Here we go with main page

#page-wrapper
  / Welcome page header
  #header
    =render :partial => "welcome/logo" 
    /%textarea#searchall.home_page_people_search{:placeholder => "Search People"}
    %input#searchall.home_page_people_search{:type => "text",:placeholder => "Search"}/
    %ul.aw_header_nav
      -if user_signed_in?
        -if current_user.id != @user.id
          %li.aw_header_navl 
            -if !@follow
              %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Follow"}  
            -else
              %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Un-Follow"}
            %input#follow_unfollow_btn_user_id{:type => "hidden",  :value => "#{@user.id}"}/
        %li.aw_header_navl
          %a{:href => "/home/show?id=#{current_user.id}"} Home
        %li.aw_header_navl
          %a{:href => "/home/settings"} Settings
        %li.aw_header_navl
          %a{:href => "/users/sign_out"} Logout
      -else
        %li.aw_header_navl
          %a{:href => "/"} SignIn

  %hr
  / Everything coming on the top bar, this is a TODO
  /
    .home_page_signout
    %a.auth_provider{:href => "/users/auth/twitter"}
      %img.img_provider{ :src=>"/images/authentications/twitter_64.png", :alt => "Twitter"}
    %a.auth_provider{:href => "/users/auth/facebook"}
      %img.img_provider{ :src=>"/images/authentications/facebook_64.png", :alt => "Twitter"}
    
  / *********************************************************

  / Top side info for snap and name under it

  .home_page_row2
    .home_page_photo
      %p
        %img{:alt => "", :src=>"#{@user.photo_small_url}"}
      %p
        %label.main_title #{@user.full_name}
    / Home page main activity generator input boxes
    #home_page_input.input_box
      %label #
      %input.channel_input_box{:name => "home_page_activity", 
                               :type => "text",
                               :placeholder => "Channel", 
                               :size=>"40"}
      %label @
      %input#searchTextField.place_input_box{:name => "home_page_location", 
                                             :type => "text",
                                             :placeholder => "Place",
                                             :size=>"40"}
      %textarea{:name => "home_page_entity", 
                :type => "text",
                :placeholder => "Whats the story?", 
                :style=>"resize: none;", 
                :cols=>"80", 
                :rows=>"5",
                :maxlength=>"500"}
      %input#searchTextField1{:size => "50", :type => "hidden"}
      %input#actwitty_generator{:type => "button", :value => "Go!"}
      %input#user_latlng{:name => "latlang", :type => "hidden"}
      #map
  / *************************************************
  %hr
  
  .home_page_filter_row
    %ul.aw_sub_header_nav
      -if user_signed_in?  && current_user.id == @user.id
        %li.aw_sub_header_nav_l
          %a#all_followers{:href => "#"} Followers #{current_user.followers_count()}
        %li.aw_sub_header_nav_l
          %a#all_followings{:href => "#"} Followings #{current_user.followings_count()}
        %li.aw_sub_header_nav_l
          %a#all_facebookers{:href => "#"} Facebook People
      %li.aw_sub_header_nav_r
        %a#all_channels{:href => "#"} Channels
      %li.aw_sub_header_nav_r
        %a#all_things{:href => "#"} Things
      %li.aw_sub_header_nav_r
        %a#all_locations{:href => "#"} Locations


  #sub_filter_tabs
    %ul.tabs
      %li#personal_tab_head
        %a{:href => "#personal_tab"} Personal
      -if user_signed_in?  && current_user.id == @user.id
        %li#followings_tab_head
          %a{:href => "#followings_tab"} Followings
      %li#streams_tab_head
        %a{:href => "#streams_tab"} Stream
    .tab_container
      #personal_tab.tab_content
        %ul#personal_summary.summary_list
        %a#more_personal.more_loader{:href => "#"} More
        %input#more_personal_cookie{:type => "hidden", :value => "0"}
      -if user_signed_in?  && current_user.id == @user.id
        #followings_tab.tab_content
          %ul#friends_summary.summary_list
          %a#more_friends.more_loader{:href => "#"} More
          %input#more_friends_cookie{:type => "hidden", :value => "0"}
      #streams_tab.tab_content
        #stream_filters
        #stream_related_entities
        #stream_related_activities
        #stream_related_friends
        #stream_list_div 
          %ul#streams.stream_list
          %a#more_streams.more_loader{:href => "#"} More
          %input#more_streams_cookie{:type => "hidden", :value => "0"}

  #channel-dialog-modal
  #location-dialog-modal
  #thing-dialog-modal
  #follower-dialog-modal
  #following-dialog-modal
  #facebook-dialog-modal
  
  /Secret cookies
  %input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
  -if user_signed_in?
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
  - else
    %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }    
  %input#default_page_mode{:name => "default_page_mode", :type => "hidden", :value => "#{@defaul_page_mode}" }

  /Filter
  %input#filter_location_id{:name => "filter_location_id", :type => "hidden", :value => "#{@filter_location_id}" }
  %input#filter_location_name{:name => "filter_location_name", :type => "hidden", :value => "#{@filter_location_name}" }
  %input#filter_thing_id{:name => "filter_thing_id", :type => "hidden", :value => "#{@filter_thing_id}" }
  %input#filter_thing_name{:name => "filter_thing_name", :type => "hidden", :value => "#{@filter_thing_name}" }
  %input#filter_channel_id{:name => "filter_channel_id", :type => "hidden", :value => "#{@filter_channel_id}" }
  %input#filter_channel_name{:name => "filter_channel_name", :type => "hidden", :value => "#{@filter_channel_name}" }







   



