#aw_top_bar
  #top_bar_container
    #aw_top_bar_bkg
      #aw_top_bar_box
        %a{:href => "https://www.actwitty.com"}
          %img.awppm_profile_logo{:src => "/images/actwitty/refactor/aw_ppm/common/aw_top_bar.png"}
        -if user_signed_in? && !if_ghost_user?
          %a#awppm_header_user_logout{:href => "/users/sign_out"}
          %a#awppm_header_user_home{:href => "/show?id=#{current_user.id}" }
        -elsif if_ghost_user?
          %a#awppm_header_user_login{:href => "/welcome/new"} login
        #awppm_header_search_edit_box
          %input#aw_js_ppm_header_search_text{:placeholder => "Search", :type => "text"}

#aw_ppm_thanks_main_box
  #aw_ppm_thanks_main_div
    
    #aw_ppm_thanks_user_info
      #aw_ppm_thanks_user_img
        %a{:href => "/show?id=#{@user.id}"}
          %img{:src => @user.photo_small_url}/
      #aw_ppm_thanks_user_name    
        %a{:href => "/show?id=#{@user.id}"}
          %span.aw_ppm_thanks_user_pretext Hi ! 
          %span #{@user.full_name}
        #aw_ppm_thanks_user_location   
          %span #{@user.current_location}
    #aw_ppm_thanks_message
      -if user_signed_in?
        -if current_user.id == @user.id
          %span Thanks for registering with Actwitty (Private Beta). We are processing all invites and in less than an hours time you will receive an email update from us.
        -else
          %span This is a default site for Actwitty user page.

      -else
        %span This is a default site for Actwitty user page.
    

    .aw_thanks_follow_us
      %a{:href=>"https://www.facebook.com/pages/Actwitty/162060013895162",:target => "_blank"}
        %img{:src=>"/images/actwitty/refactor/aw_lpm/facebook.png",:target => "_blank"}
      %a{:href=>"https://twitter.com/#!/act_witty", :target => "_blank" }
        %img{:src=>"/images/actwitty/refactor/aw_lpm/twitter.png"}
      %span follow us on
      
    %a.aw_ppm_thanks_logout{:href=>"/users/sign_out"} Sign out for now 

    

%input#page_mode{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@page_mode}" }
/Feed Back User Voice
:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qSgEkukkoJykzYLLS3m3w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })(); 
