\%= form_for @document, :html => {:multipart => true} do |f| %>
\#{f.error_messages}
\#{f.hidden_field :activity_id}
\#{f.hidden_field :owner_id}
%p
  = f.label :name
  %br/
  = f.text_field :name
%p
  = f.file_field :image
%p= f.submit
