.awcspm_channel_settings_wrapper.awcspm_channel_settings_column1
  =render :partial => "home/top_bar"


.awcspm_channel_settings_settings_wrapper.awcspm_channel_settings_column2


  #awcspm_channel_settings_box
    %h3 Channel Settings
    #awcspm_channel_settings_content
      /%div{:id => "awcspm_channel_settings_menu_box awcspm_js_channel_settings_list_box"}
      #awcspm_js_channel_settings_list_box.awcspm_channel_settings_menu_box
        %h4 Channels


      #awcspm_channel_settings_fields_box
        %h2#awcspm_channel_edit_label_header  
        #awcspm_js_channel_info_edit_box.awcspm_channel_info_edit_box 
        #awcspm_channel_info_fields
          .awcspm_channel_settings_field
            %label Name
            %input#awcspm_js_channel_settings_name{:type => "text" , :value=>""}
          
          .awcspm_channel_settings_field
            %label Category
            %select#awcspm_js_channel_settings_category.awcspm_channel_settings_categories
              // TODO : categories.yml
              %option{:value => 'animals'} Pets and Animals
              %option{:value => 'arts'} Arts and Design
              %option{:value => 'books'} Books and Articles
              %option{:value => 'business'} Business
              %option{:value => 'cars'} Cars
              %option{:value => 'entertainment'} Entertainment
              %option{:value => 'events'} Holidays and Events
              %option{:value => 'education'}  Education
              %option{:value => 'fashion'} Fashion and Style
              %option{:value => 'food'} Food and Drink
              %option{:value => 'games'} Toys and Games
              %option{:value => 'health'} Health
              %option{:value => 'home'} Home
              %option{:value => 'hobbies'} Hobbies and Interests
              %option{:value => 'nonprofits'} Nonprofits
              %option{:value => 'politics'} Society and Politics
              %option{:value => 'sports'} Sports
              %option{:value => 'stories'} Stories
              %option{:value => 'technology'} Technology
              %option{:value => 'places'} Travel and Places
          
        
        #awcspm_channel_theme_selector_box.awcspm_channel_settings_field
          %input#awcspm_js_channel_theme_code_name{:type => "hidden" , :value=>""}
          %h5 Select Themes
          #awcspm_channel_theme_selection_list  
            
            
            
        /.awcspm_channel_settings_field
        /  %label Channel Background
        /%input{:type => "text"}
        /  =render :partial => "channel_settings/channel_background_attachments.html.haml"
        /  %img#aw_cspm_js_channel_settings_background_src{:src=>"", :width=>"100"}
        /  %input#awcspm_js_channel_settings_background_link{:type => "hidden", :value => ""}/
        
        /.awcspm_channel_settings_field
        /  %label Channel Thumbnail
        /  %input{:type => "text"}
        /  =render :partial => "channel_settings/channel_thumb_attachments.html.haml"
        /  %img#aw_cspm_js_channel_settings_thumb_src{:src=>""}
        /  %input#awcspm_js_channel_settings_thumb_link{:type => "hidden", :value => ""}/
        

        %input#awcspm_js_channel_setting_save.button_actwitty.blue.awcspm_channel_settings_save_btn{:type => "button", :value => "Save Changes"}
        %input.aw_js_cspm_channel_info_box_backtracker{:type=>"hidden" , :val=>""}
      %input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.id}" }
      %input#page_owner_photo{:name => "user_photo_for_this_page", :type => "hidden", :value => "#{@user.photo_small_url}" }
      %input#page_owner_name{:name => "user_name_for_this_page", :type => "hidden", :value => "#{@user.full_name}" }
      %input#cache_cookie_id{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@user.updated_at}" }
      %input#page_mode{:name => "user_id_for_this_page", :type => "hidden", :value => "#{@page_mode}" }
      - if user_signed_in?
        %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
      - else
        %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }   

