= form_for(Feedback.new, :url => feedback_create_path, :html => { :method => :post,  :style => "display: none;  " }, :remote => true ) do |f|
  %h3 SEND YOUR FEEDBACK TO ACTWITTY
  %p
    Kindly let us know your valuable feedback.
  %p
    You can choose to mention name and/or email or be anonymous.
  %ul.aw_feedback_fields
    %li
      %span Name
      = f.text_field :name,{ :placeholder => "Name",:class=>'aw_feedback_text_input', :id=>'aw_js_feedback_name'}
    %li
      %span Email
      = f.text_field :email,{ :placeholder => "Email", :class=>'aw_feedback_text_input', :id=>'aw_js_feedback_email'}
    %li.aw_feedback_input_list
      %span Feedback
      %br/
      = f.text_area :feedback_text,{:type => "text", :placeholder => "Let us know", :class=>'aw_feedback_text_input_area', :maxlength => 1000, :id=>'aw_js_feedback_text'}
  = f.submit "SEND",{ :class=>'button_actwitty orange medium hover_point', :id => 'aw_feedback_submit' }
%img{:src => "/images/actwitty/refactor/aw_common/feedback.png"}

:javascript
  $(document).ready(function() {
    var feed = $('#feedback_section');
  	
    feed.css("display", "block").data("showing", false).children("form").hide()
    feed.css("height: 120px; margin-left: -400px");
  

    var t = feed;
  	t.animate({
  						      marginLeft: "-400px",
  						      height: "120px"
  					      }).data("showing", false).children("img").attr("src", "/images/actwitty/refactor/aw_common/feedback.png").css("top", "0").siblings().hide();

    feed.children("img").click(function() {
  	  var t = feed;
  		if(t.data("showing") == false) {
        $("#aw_js_feedback_name").val('');
        $("#aw_js_feedback_email").val('');
        $("#aw_js_feedback_text").val('');
  		  t.animate({
  					        marginLeft: "0",
  						      height: "350px"
  					      }).data("showing", true).children("img").attr("src", "/images/actwitty/refactor/aw_common/hide_feedback.png").css("top", "100px").siblings().show();
  		} else {
  		  t.animate({
  						      marginLeft: "-400px",
  						      height: "120px"
  					      }).data("showing", false).children("img").attr("src", "/images/actwitty/refactor/aw_common/feedback.png").css("top", "0").siblings().hide();
  				  }
  				
  	});
  			
  });
