#page-wrapper
  #header
    =render :partial => "welcome/logo"

  #feedback-page 
    #feedback-box.forgot-reset
      #feedback-box-desc
        %h3#heading.desc Help ActWitty to improve
        %p
          Kindly let us know your valuable feedback.
          %br/
          You can choose to mention name and/or email or be anonymous.

          = form_for(@feedback, :url => feedback_create_path, :html => { :method => :post }) do |f|
            %ul#feedback-data-input
              %li.feedback-input-list
                %span Name
                %br/
                = f.text_field :name,{ :placeholder => "Name",:class=>'input-deco '}
              %li.feedback-input-list
                %span Email
                %br/
                = f.text_field :email,{ :placeholder => "Email", :class=>'input-deco '}
              %li.feedback-input-list
                %span Feedback
                %br/
                = f.text_area :feedback_text,{:type => "text", :placeholder => "Let us know", :class=>'input-deco_area  ', :maxlength => 1000}
              #site-connect-buttons
                = f.submit "Send Us",{ :class=>'connect-buttons'}

      
        
=render :partial => "welcome/footer"
