!!!
%html{"xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/"}
  %head
    %meta{:charset => 'utf-8'}
    %title Actwitty - The Complete You.
    %meta{:property=> "fb:admins", :content => "100002965451405"}/
    %meta{:property=> "fb:app_id", :content => "180483002026787"}/


    = display_meta_tags :site => 'Actwitty'
    = include_stylesheets :defaults

    -if @page_mode == "landing_page" or @page_mode == "authentications_page"  or @page_mode == "about_page"
      = include_stylesheets :landing_pages

    -if @page_mode == "profile_show_page"
      = include_stylesheets :profile_page_commons
      = include_stylesheets :profile_page_externals

    -if @page_mode == "profile_show_page"
      = include_stylesheets :profile_page_sketch
    

    -if @page_mode == "aw_internal_inviteds_show_page" or @page_mode == "aw_internal_show_user_counters_page"
      = include_stylesheets :profile_page_externals
      = include_stylesheets :profile_page_commons
      = include_stylesheets :aw_internal_inviteds_show_page
      = include_stylesheets :profile_page_sketch


    -if @page_mode == "profile_thanks_page"
      = include_stylesheets :profile_page_externals
      = include_stylesheets :profile_page_commons
      = include_stylesheets :profile_thanks_page


    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false&libraries=places", :type => "text/javascript"}
    = include_javascripts :jquery
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
   

    
    = include_javascripts :actwittyall
    = include_javascripts :profile_commons
    = include_javascripts :profile_main_extra
    = include_javascripts :bootstrap
   
    
    -if @page_mode == "profile_show_page"
      = include_javascripts :profile_page_sketch


    -if @page_mode == "aw_internal_inviteds_show_page" or @page_mode == "aw_internal_show_user_counters_page"
      = include_javascripts :aw_internal_inviteds_show_page

    /* This is an exclude condition. Mind it*/
    -if @page_mode != "authentications_page" 
      = include_javascripts :autocomplete

      
    :javascript
      if ($.browser.msie && $.browser.version.substr(0,1)<9){
        alert("oops!! You seems to be using older version of browser, ActWitty is not supported yet on your browser version. We suggest you to upgrade to higher version.");
      }
    = csrf_meta_tag
     
    %link{:href => "/images/actwitty/refactor/aw_common/aw_favicon.ico", :rel => "icon", :type => "image/ico"}/
    
    
  /%body
  %body

    = yield
 
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24404937-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
